* {
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: #23232e;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  font-style: italic;
  text-decoration-line: underline;
  color: #ecbf88;
  text-align: center;
  text-shadow: 1rem -0.5rem 2rem rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 90vw;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 50rem;
  margin-bottom: 5rem;
  box-shadow: 0rem 0rem 2rem #aaa;
  position: relative;
}

.alert {
  position: absolute;
  bottom: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 50rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #ecbf88;
  text-align: center;
  font-family: "Verdana";
}

.search-form input[type="submit"] {
  width: 25%;
  border: 2px solid black;
  text-transform: uppercase;
  background-color: #ecbf88;
  color: #2b2d32;
  font-family: "Verdana";
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 2rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 2rem 3rem 5rem #aaa;
}

.recipe h2 {
  font-family: "Verdana";
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  text-align: center;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #ecbf88;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.8rem;
  color: #ecbf88;
  border-radius: 0.5rem;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #2b2d32;
  background-color: #ecbf88;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
  background-color: #f0f0f0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #23232e;
}

.ingredient-weight {
  color: #ecbf88;
  font-weight: bold;
  font-style: italic;
  font-size: 1.3rem;
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 3rem;
    margin: 4rem 0;
  }

  .search-form {
    width: 90vw;
    height: 6rem;
    box-shadow: 1rem 2rem 5rem #aaa;
  }

  .search-form input {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 670px) {
  .alert {
    bottom: -6rem;
  }
}
